/* TEMPORARY -- Preview Banner */
@media screen {
  .quire-page::before,
  .quire-page::after {
    color: white;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire-page::before {
    content: "UNCORRECTED";
    background-color: red;
    bottom: -115px;
    left: -115px;
  }
  .quire-page::after {
    content: "PROOF";
    bottom: -130px;
    left: -130px;
  }
}

:root {
  /* https://coolors.co/2b1d0b-b35c00-fbb041-f6f3f6-d3c5d3 */
  /* These colors also being used in content/_assets/styles/variables.scss */
  --bright-orange: #fbb041;
  --accent-color: #b35c00;
  --dark-brown: #2b1d0b;
  --white: #fff;
  --pale-lavendar: #f6f3f6;
  --lavendar: #d3c5d3;
}

/* GENERAL
============================================================================= */
/*  Progress Bar */
.quire-progress-bar {
  display: none;
}

/* COVER
============================================================================= */
/* Cover Background Image */
.quire-cover__overlay {
  background-position-y: 80%;
}
/* Cover Title Area */
.hero-body .container.is-fluid {
  background: transparent;
  left: auto;
  margin-right: 0;
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 0;
  right: 0;
}
/* Cover Title */
.quire-cover__hero .title {
  color: var(--bright-orange);
  font-size: 5rem;
}
/* Cover Contributor */
.quire-cover__hero .contributor {
  font-size: 1.2rem;
  text-align: right;
  text-transform: uppercase;
}
.quire-cover__hero .contributor em {
  font-style: normal;
}
/* Cover More Arrow */
.quire-cover__more .hero-more {
  background: var(--bright-orange);
}
.quire-cover__more .hero-more svg {
  fill: var(--dark-brown);
}
/* Cover Page Background */
.quire:not(.no-js) .quire__primary main.quire-cover {
  background-color: var(--dark-brown);
}
/* Cover Descriptive Text */
.quire-cover .quire-page__content .container.is-fluid .content {
  background-color: transparent;
  color: var(--white);
  font-size: 1.1em;
}

/* MENU
============================================================================= */
/* Make key menu items white */
/* Book Title */
.quire-menu__header h4.quire-menu__header__title {
  color: var(--white);
  font-size: 1.7rem;
}
/* Current Page */
.quire-menu .page-item .page-item a.active,
.quire-menu .section-item .page-item a.active {
  border-left-color: var(--white);
  color: var(--white) !important;
}
/* Headings for Downloads and Citations */
.quire-menu__formats h6 {
  border-bottom-color: var(--white);
  color: var(--white);
}

/* TABLES
============================================================================= */
/* Style tables as they appear on the page */
.q-figure.q-figure--table {
  border-width: 0;
  padding: 0;
}
.quire-page__content .container .content table,
.quire-page__content .container .content table th,
.quire-page__content .container .content table td {
  border: 1px solid var(--dark-brown);
  border-collapse: collapse;
}
.quire-page__content .container .content table {
  margin: 0;
}
.quire-page__content .container .content table caption {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.quire-page__content .container .content table ul {
  list-style: initial;
  padding-left: 1.25em;
}
.quire-page__content .container .content table ul li::before {
  content: none;
}
.quire-page__content .content .table-key {
  margin-top: .5em;
  font-size: .875em;
}
.quire-page__content .content .table-key p {
  margin-bottom: .5em;
}
.quire-page__content .content .table-key dl {
  display: grid;
  grid-template-columns: 1.5rem auto;
  row-gap: .25rem;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: .5em;
}
.quire-page__content .content .table-key dl dt {
  font-weight: bold;
}
.quire-page__content .content .table-key dl dt,
.quire-page__content .content .table-key dl dd {
  margin-bottom: 0;
}
table a,
.table-key a {
  color: inherit;
  border-bottom: 1px dotted var(--accent-color);
}
/* Fix an issue caused by too generalized selector for img elements */
.q-lightbox-slides__element table img {
  position: initial;
  transform: none;
}
/* Add some margin in cases where a table figure contains multiple tables */
.quire-page__content .container .content table + table,
.q-lightbox-slides__element--table table + table {
  margin-top: 1rem;
}
/* Adjust look of table captions */
.quire-page__content .container .content table caption strong {
  font-weight: normal;
}
.quire-page__content .container .content table caption strong:first-of-type {
  color: var(--accent-color);
  font-weight: bold;
}
